*{
    box-sizing: border-box;
}
.SlidShow-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: teal;
}
.contents{
    

}
.content{
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%) scale(0) ;
    
    transition: transform 0.5s;

}
.component h1{
 
}
.content.current{
    transform: translate(-50%,-50%) scale(1);
    transition: transform 0.5s;
}